.Track audio{
    display: none;
}
.Track .thumbWrapper{
    position: relative;
}
.Track img{
    width:50px;
    margin: 0 6px 6px 0;
}
.Track .thumbWrapper:hover:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 32px;
    content:'\25BA';
    text-align: center;
    padding-top: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 2;
}
.Track.playing{
    color: #65aef2;
}
.Track.playing .thumbWrapper:hover:after{
    content:'\007C\007C';
    font-weight: bold;
}
.Track .thumbWrapper.noPreview:hover:after{
    content:'\1F6AB';
}

